// .main{
//     display: flex;
//     font-family: dnp-shuei-mgothic-std;
// }
// li{
//     list-style: none;
// }
// p{
//     line-height: 18.7px;
// }
// br{
//     display: block;
//     content: "";
//     padding: 18.7px 0 0;
// }

body {
    max-width: 576px;
}

a {
    text-decoration: none;
}

.top_wrapper {
    display: flex;
    flex-wrap: wrap;
    .genre_button {
        text-align: center;
        width: 100px;
        min-width: 100px;
        background: #bb86fc;
        color: white;
        font-weight: 700;
        padding: 2rem;
        border-radius: 0.5rem;
        font-size: 20px;
        margin: 20px;
    }
}
